

@media screen and (min-width: 769px) {
    h1 {
        text-align: left ;
    }

    .main-container {
        
        padding: 10px;
}
h2 {
    font-size: 2rem;
}

.title_rate-flex h2::after {
    content: '( Dolce tradizionale)';
    font-size: 2rem;

}
ul {
    display: flex;
    text-align: center;
    gap: 10px;
}
#video-card button {
    width: 100px;
}
.button-flex-cont {
   
    margin-bottom: 20px;
}

.banner {
    display: block;
}
.tiramisu-image {
    float: left;
    width: 280px;
    margin-right: 10px; 
    

}

.tiramisu-image img {
    display: block;
    max-width: 100%; 
    height: auto;
}

@media screen and (min-width: 993px) {
 
}