
/*TABLET*/
@media screen and (min-width: 769px) {
h1 {
        text-align: left ;
    }

.main-container {
        
        padding: 10px;
}
h2 {
    font-size: 2rem;
}

.title_rate-flex h2::after {
    content: '( Dolce tradizionale)';
    font-size: 2rem;

}
ul {
    display: flex;
    text-align: center;
    gap: 10px;
}
#video-card button {
    width: 100px;
}
.button-flex-cont {
   
    margin-bottom: 20px;
}

.banner {
    display: block;
}
.tiramisu-image {
    float: left;
    width: 280px;
    margin-right: 10px; 
    

}

.tiramisu-image img {
    display: block;
    max-width: 100%; 
    height: auto;
}
}
 
/*DESKTOP*/
@media screen and (min-width: 993px) {
    h2 {
        font-size: 4rem;
    }
    .title_rate-flex h2::after {
        content: '( Dolce tradizionale)';
        font-size: 4rem;}

ul {
    flex-direction: column;
    align-items: flex-start;
    }

#video-card button {
    width: 100%;
    MARGIN: 5PX;}

.fa-brands {
    font-size: 1.3rem;
    
}
.fa-facebook::after {
   
    content: 'FACEBOOK ';
    text-align: center;
    font-size: 12px;
    color: black;
}

.fa-twitter::after {
   
    content: 'TWITTER ';
    text-align: center;
    font-size: 12px;
    color: black;
}

.fa-pinterest::after {
   
    content: 'PINTEREST ';
    text-align: center;
    font-size: 12px;
    color: black;
}
.fa-youtube::after {
   
    content: 'YOUTUBE ';
    text-align: center;
    font-size: 12px;
    color: black;
}
.fa-instagram::after {
   
    content: 'INSTAGRAM ';
    text-align: center;
    font-size: 12px;
    color: black;
}
.fa-brands:before {
    padding: 3px;

}







}
