* {
   
    box-sizing: border-box;
   
}
body {
    background-color: #F6F5F3;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    max-width: 1080px;
}
h1 {MARGIN: 0px;
    font-family: 'Nerko One', cursive;
    color: #FD9F2B;
    text-align: center;
}
h2 {
    color: #4E3969;
    font-weight: bold;
}
#presentation h2 {
    font-size: 2rem;
    color: black;
}
h4 {
    color: #c9beb2d7;
}
h6 {
    font-weight: normal;
    font-size: 12px;
}
.footer-left h6 {
        text-align: center;
        color: white;
        font-weight: bold;
}


img { 
    width: 100%;
}
ul {
    list-style-type: none;
    margin-top: 10px;
    padding-inline-start: 0px;
}
a {
    font-size: 11px;
    color: white;
}
.main-container {
    max-width: 100%;
    margin: 0px 20px;
}
#intro button {
    background-color: #FD9F2B;
    color: white;
    border-radius: 10px;
    height: 20px;
}
#video-card button {
    background-color: whorite;
    color:  darkblue;
    border-radius: 20px;
    height: 35px;
    width: 55px;
   
}


/*header*/
.header-container {
    background-color: white;
    padding: 20px 0px;
    
}

/*Main-intro*/
.title_rate-flex {
    display: flex;
    justify-content: space-between;
}

.bottom-flex {
    display: flex;
}
.star {
    color: #FD9F2B;
    font-weight: bold;
    font-size: 1rem;
}
/*Main-#video-card*/
#video-card .row {
    margin-top: 30px;
    display: flex;
    margin-bottom: 10px;
    
}
#video-card .col {
    width: 100%;
}


.card {
    background-color: white;
}

.info-top {
   
    background-color: #F6F5F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 10px;

}
.info-top  h4 {
    color: #FD9F2B;
}

.calories {
    background-color: #7B69A2;
    color: white;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 3px;
}


.line {
    border-bottom: 1px solid lightgrey;
}
.info-bottom {
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #F6F5F9;
}
.fa-clock{
    color: #FD9F2B;
    padding-right: 2px;
}
.button-flex-cont {
    display: flex;
    justify-content: space-around;
}
    .fa-brands {
        font-size: 1.1rem;
    }
 .line-orng {
        border-bottom: 3px solid #FD9F2B;
        margin-bottom: 30px;
        max-width: 60px;
    }
    
    .banner {
        margin-bottom: 30px;
        display: none;
    }

    footer {
        background-color: #4E3969;
    }
    .flex-cont  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}


    }

